<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="img/1554569099856-3688d9a3-e697-4e02-9fdc-a17ec024d26c_.jpg">
    </div>
    {{>footer}}
</body>

</html>